
#main-doc {
  background-color:lightblue;
}
  
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:aquamarine;
  overflow-x: hidden;
  padding-top: 20px;
  text-align: center;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

#main-doc {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 50px;
  text-align: justify;
}
/*
@media screen and (min-width: 1281px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  body {
    background-color: white;
  }
}*/

ul {
  font-size: 17px;
  font-family: Helvetica;
  list-style-type: circle;
  margin: 0;
  padding: 0;
}

#header{
  font-size: 13;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}

#paragraph, #list{
 font-size: 18px;
}

#nav-header{
  font-size: 23px;
  text-align: center;
  font-weight: bold;
}